.divPanico {
	display: flex;
	flex-direction: column;
	padding: 5em;

	justify-content: center;
	justify-self: center;
	align-items: center;

	height: 100%;
}
.btnPanico {
	--ripple-color: blue;
	--background: red;

	justify-self: center;

	width: 25vh;
	height: 25vh;
	padding: 0.5em;
	font-size: 3vh;

	text-transform: uppercase;
}
