.divPanico {
	// text-align: center;
	// vertical-align: middle;

	// transform: translateY(-50%);
	// display: flex;
	// justify-content: center;

	// margin-top: 300px;
	// scroll-margin-top: 200px;

	text-align: center;

	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.btnPanico {
	// --border-radius: 500px;
	--ripple-color: blue;
	--background: red;

	width: 500px;
	height: 500px;
	padding: 190px;
	border-radius: 600px;

	text-transform: uppercase;
}
